<div class="margin"></div>

<div class="row profile">

	<div class="medium-10 columns">
	


		<h3><%= @user[:name] %>-<span>(<%= @user[:email]%>)</span></h3>


		<p><%= image_tag @user.avatar.url(:medium), :class => 'th' %></p>

		<%= link_to "Back", restaurants_url, :class => "button secondary small" %> <%= link_to 'Edit Profile', edit_user_path(@user), :class => "button secondary small" %> <%= link_to "Delete Account", user_path(@user) , :class => "button alert small", method: :delete, data: { confirm: 'Are you sure?' } %>




	
		<h4>My reservations</h4>
		<hr>
		<p>Number of reservations = <%=  @user.reservations.count %></p>

			<table>
			  <thead>
			    <tr>
			      <th width="250">Restaurant</th>
			      <th width="500">Location</th>
			      <th width="400">Date & Time</th>
			       <th width="300">Edit</th>

			    </tr>
			  </thead>

			  <%  @user.reservations.count %>

			  	<%  @user.reservations.each do |reservation| %>
				  <tbody>
				    <tr>
				      <td><strong><%= link_to reservation.restaurant.name, restaurant_path(reservation.id) %></strong></td>
				       <td><strong><%= reservation.restaurant.address %></strong> </td>
				       <td><strong><%= reservation.date %></strong> </td>

				       <td><%=  link_to "Edit Reservation", "#", class: 'button secondary tiny' %> </td>
				  		 
				    </tr>
				<% end %>

			  </tbody>
			</table>



			
	</div>

</div><!-- row -->
