<h1>User # <%= @user[:name] %></h1>


<ul>
	<li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
	<li><%= link_to "Delete Account", user_path(@user) , method: :delete, data: { confirm: 'Are you sure?' } %></li>
	<li><%= link_to "Back", reservation_path(@user) %></li>
</ul>

<p><%= image_tag @user.avatar.url(:medium) %></p>

<ul>
	<li><%= link_to @user[:name], user_path(@user) %></li>
	<li><%= @user[:email]%></li>

</ul>




<h4>Reservations</h4>
<p>Number of reservations = <%=  @user.reservations.count %></p>

<<<<<<< HEAD
<%  @user.reservations.each do |reservation| %>
	
	<p><%= reservation.date %> - %= reservation.time_slot %></p>
	<p><%= reservation.restaurant.restaurant_name %></p>
	<img src="<%= reservation.restaurant.photo_url %>" widht="100" height="100" alt="">
	<p><%= reservation.restaurant.street_address %></p>
	<p><%= reservation.restaurant.postal_code %></p>
=======
<%  @all_user_reservations.each do |p| %>

	<p><%= p.restaurant_name %></p>
	<img src="<%= p.photo_url %>" widht="100" height="100" alt="">
	<p><%= p.street_address %></p>
	<p><%= p.postal_code %></p>
>>>>>>> 07ff38e4af33a8077f7df96fc1f57d151a60536c
	<p>----------------------------</p>

<% end %>



<<<<<<< HEAD

=======
<%= link_to "Back to home", root_url %>
>>>>>>> 07ff38e4af33a8077f7df96fc1f57d151a60536c
