<h1>Reservations <%= @reservation[:id] %></h1>

<ul>
	
	<li>When = <%= @reservation[:date] %> - <%= @reservation[:time_slot] %></li>
	<li>Party of = <%= @reservation[:guests] %></li>
	<li><%= link_to @reservation.user[:name], user_path %></li>
	<li><%= @reservation.user[:email] %></li>
</ul>


<%= link_to "Back", reservations_path %>