<div class="margin"></div>

<div class="row">

	<h1>Seat Yourself ! Reserve your table</h1>


	<div class="row reservation">
		
		<div class="medium-6 columns">
			<%= render 'reservation_form' %>
		</div>

	</div>


	<hr>
	<br>

	<div class="row">

		<div class="medium-8 columns restaurants_list">
			<% @restaurants.each do |restaurant| %>

			<div class="row">

				<div class="medium-4 columns">
				<%= link_to image_tag(restaurant.photo_url), restaurant_path(restaurant) %>
				</div>

				<div class="medium-8 columns">
						<h4><%= link_to restaurant.restaurant_name, restaurant_path(restaurant) %> </h4>
						<span>------------------------------------</span>
						<ul class="no-bullet">				
							<li> <%= restaurant.street_address %> |  <%= restaurant.cuisine %></li>				
						</ul>
				</div>

			</div>
			<hr>

			<% end %>
			<hr>
		</div>

	


		<div class="medium-3 columns sidebar">


			<!-- search box-->
		

		<div class="row">

			<div class="medium-12 columns">

				<%= render 'search' %>
			</div>
			
			<!-- Featured restaurants -->
			<div class="medium-12 columns featured">

				<%= render 'featured_restaurant' %>

			</div>

			<!-- Available Tonight! -->
			<div class="medium-12 columns">

				<%= render 'available_restaurant' %>

			</div>
		
			<!-- New restaurants -->
			<div class="medium-12 columns">

				<%= render 'new_restaurant' %>

			</div>


			</div><!-- row -->	
		 </div>

	</div><!-- row -->		


</div><!-- row -->