<div class="background">
	<div class="row">
	<div class="margin"></div>

		<h2>Seat Yourself ! Make a Reservation</h2>


		<div class="row reservation">
			
			<div class="medium-12 columns">
				<%= render 'reservation_form' %>

			</div>

		</div>
	</div>
</div><!-- background	 -->


	<br><br>

	<div class="row">

		<div class="medium-8 columns restaurants_list">
			<% @restaurants.each do |restaurant| %>

			<div class="row">

				<div class="medium-4 columns">
				<%= link_to image_tag(restaurant.photo_url, class: 'th'),restaurant_path(restaurant) %>
				</div>

				<div class="medium-8 columns">
						<h4><%= link_to restaurant.name, restaurant_path(restaurant) %> </h4>
						<span>------------------------------------</span>
						<ul class="no-bullet">		
							<li><%= restaurant.cuisine %></li>		
							<li> <%= restaurant.address %></li>				
						</ul>
				</div>

			</div>
			<hr>

			<% end %>
			<hr>
		</div>

	

		<div class="medium-3 columns sidebar">


			<%= render 'search' %>
		

		<div class="row">

			<div class="medium-12 columns">
			<h5>New in Town!</h5>

				 <%= render 'new_restaurant' %>
				
			</div><br><hr>
			
			<!-- Featured restaurants -->
			<div class="medium-12 columns featured">
				<h5>Featured Restaurants</h5>

				<%= render 'featured_restaurant' %>

			</div><br><hr>

			<!-- Available Tonight! -->
			<div class="medium-12 columns">
			<h5 class="flash">Available Tonight!</h5>
				<%= render 'available_restaurant' %>

			</div><br>
		
			


			</div><!-- row -->	
		 </div>

	</div><!-- row -->		


</div><!-- row -->